
<div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a href="{{ path('app_admin') }}" class="logo-link nk-sidebar-logo">
                <img class="logo-light logo-img" src="{{ asset('images/logo.png') }}" srcset="{{ asset('images/logo.png')}} 2x" alt="logo">
                <img class="logo-dark logo-img" src="{{ asset('images/logo-dark.png') }}" srcset="{{ asset('images/logo-dark.png')}} 2x" alt="logo-dark">
                <img class="logo-small logo-img logo-img-small" src="{{ asset('images/favicon.png') }}" srcset="{{ asset('images/logo-small2x.png')}} 2x" alt="logo-small">
            </a>
        </div>
        <div class="nk-menu-trigger me-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
            <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Main</h6>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="{{ path('app_admin') }}" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                            <span class="nk-menu-text">Tableau de bord</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    {% if is_granted('ROLE_AGENT_TRAITEMENT') or is_granted('ROLE_CHEF_SERVICE') or is_granted('ROLE_ADMIN') %}
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Demande de carte</h6>
                    </li><!-- .nk-menu-heading -->
                        <li class="nk-menu-item">
                            <a href="{{ path('app_demande_interne') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-plus-circle"></em></span>
                                <span class="nk-menu-text">Enregistrer une demande</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-heading">
                           <h6 class="overline-title text-primary-alt">Opérations demande</h6>
                         </li><!-- .nk-menu-heading -->

                        <li class="nk-menu-item">
                            <a href="{{ path('app_demande_en_attente') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-clock"></em></span>
                                <span class="nk-menu-text">Demandes en attente</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="{{ path('app_demande_traitee') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-check-circle"></em></span>
                                <span class="nk-menu-text">Demandes validées</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="{{ path('app_demande_rejetee') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-cross-circle"></em></span>
                                <span class="nk-menu-text">Demandes rejetées</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">Traitement des Duplicatas</h6>
                       </li><!-- .nk-menu-heading -->
                        <li class="nk-menu-item">
                            <a href="{{ path('app_duplicata_demande_index') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-clock"></em></span>
                                <span class="nk-menu-text">Demandes en attente</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="{{ path('app_duplicata_demande_validee') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-check-circle"></em></span>
                                <span class="nk-menu-text">Demandes validées</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="{{ path('app_duplicata_demande_rejetee') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-cross-circle"></em></span>
                                <span class="nk-menu-text">Demandes rejetées</span>
                            </a>
                        </li><!-- .nk-menu-item -->




                    {% endif %}

                    {% if is_granted('ROLE_AUTORITE') %}
                        <li class="nk-menu-heading">
                            <h6 class="overline-title text-primary-alt">Traitement des Duplicatas</h6>
                        </li><!-- .nk-menu-heading -->

                        <li class="nk-menu-item">
                            <a href="{{ path('app_lot_index') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-tag-alt-fill"></em></span>
                                <span class="nk-menu-text">Lots de demande</span>
                            </a>
                        </li>

                        <li class="nk-menu-item">
                            <a href="{{ path('app_printed_cards') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-printer-fill"></em></span>
                                <span class="nk-menu-text">Liste des impressions</span>
                            </a>
                        </li><!-- .nk-menu-item -->

                    {% endif %}

                    {% if is_granted('ROLE_CHEF_SERVICE') %}


                        <li class="nk-menu-heading">
                            <h6 class="overline-title text-primary-alt">Impression</h6>
                        </li><!-- .nk-menu-heading -->
                        <li class="nk-menu-item">
                            <a href="{{ path('app_printed_cards') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-printer-fill"></em></span>
                                <span class="nk-menu-text">Liste des impressions</span>
                            </a>
                        </li><!-- .nk-menu-item -->

                        <li class="nk-menu-heading">
                            <h6 class="overline-title text-primary-alt">Paramètres</h6>
                        </li><!-- .nk-menu-heading -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-package"></em></span>
                                <span class="nk-menu-text">Lot de demande</span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_lot_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter </span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_lot_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des  lots</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                <span class="nk-menu-text">Professionnels</span>
                            </a>
                            <ul class="nk-menu-sub">

                                <li class="nk-menu-item">
                                    <a href="{{ path('app_user_professionnel') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des professionnels</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                    {% endif %}

                    {% if is_granted('ROLE_IMPRIMEUR') %}
                        <li class="nk-menu-item">
                            <a href="{{ path('app_impression') }}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-printer"></em></span>
                                <span class="nk-menu-text">Imprimer une carte</span>
                            </a>

                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nk-menu-heading">
                            <h6 class="overline-title text-primary-alt">Paramètres</h6>
                        </li><!-- .nk-menu-heading -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-briefcase"></em></span>
                                <span class="nk-menu-text">Profession</span>
                            </a>
                            <ul class="nk-menu-sub">

                                <li class="nk-menu-item">
                                    <a href="{{ path('app_profession_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_profession_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des professions</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-file-check"></em></span>
                                <span class="nk-menu-text">Pièce à fournir</span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_type_piece_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_type_piece_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des pièces</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-star"></em></span>
                                <span class="nk-menu-text">Promoteur</span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_promoteur_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_promoteur_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des promoteurs</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-setting"></em></span>
                                <span class="nk-menu-text">Organe </span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_organe_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_organe_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des organes</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-tags"></em></span>
                                <span class="nk-menu-text">Type d'Organe </span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_type_organe_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_type_organe_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des types d'organe</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-user-c"></em></span>
                                <span class="nk-menu-text">Président </span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_president_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_president_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des présidents</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="{{ path('app_haac_info_index') }}" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-setting-alt-fill"></em></span>
                            <span class="nk-menu-text">HAAC INFOS</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-user-group"></em></span>
                                <span class="nk-menu-text">Utilisateurs </span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_personnel_new') }}" class="nk-menu-link"><span class="nk-menu-text">Ajouter</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="{{ path('app_user_index') }}" class="nk-menu-link"><span class="nk-menu-text">Liste des utilisateurs</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                    {% endif %}
                </ul><!-- .nk-menu -->
            </div><!-- .nk-sidebar-menu -->
        </div><!-- .nk-sidebar-content -->
    </div><!-- .nk-sidebar-element -->
</div>