<div class="sidebar-wrapper">
    <div class="sidebar sidebar-collapse" id="sidebar">
        <div class="sidebar__menu-group">
            <ul class="sidebar_nav">
                <li class="{% if app.current_route == 'app_admin' %}active{% endif %}">
                    <a href="{{ path('app_admin') }}">
                        <span class="nav-icon uil uil-create-dashboard"></span>
                        <span class="menu-text">Tableau de bord</span>
                    </a>
                </li>

                {% if is_granted('ROLE_AGENT_TRAITEMENT') or is_granted('ROLE_CHEF_SERVICE') or is_granted('ROLE_ADMIN') %}
                    <li class="menu-title mt-30">
                        <span>Demandes de Carte</span>
                    </li>
                    <li class="{% if app.current_route == 'app_demande_interne' %}active{% endif %}">
                        <a href="{{ path('app_demande_interne') }}">
                            <span class="nav-icon uil uil-plus-circle"></span>
                            <span class="menu-text">Enregistrer une demande</span>
                        </a>
                    </li>
                    <li class="menu-title mt-30">
                        <span>Traitement des Demandes de Carte</span>
                    </li>

                    <li class="{% if app.current_route == 'app_demande_en_attente' %}active{% endif %}">
                        <a href="{{ path('app_demande_en_attente') }}">
                            <span class="nav-icon uil uil-clock"></span>
                            <span class="menu-text">Demandes en attente</span>
                        </a>
                    </li>

                    <li class="{% if app.current_route == 'app_demande_traitee' %}active{% endif %}">
                        <a href="{{ path('app_demande_traitee') }}">
                            <span class="nav-icon uil uil-check-circle"></span>
                            <span class="menu-text">Demandes validées</span>
                        </a>
                    </li>

                    <li class="{% if app.current_route == 'app_demande_rejetee' %}active{% endif %}">
                        <a href="{{ path('app_demande_rejetee') }}">
                            <span class="nav-icon uil uil-times-circle"></span>
                            <span class="menu-text">Demandes rejetées</span>
                        </a>
                    </li>

                    <li class="menu-title mt-30">
                        <span>Traitement des Duplicatas</span>
                    </li>

                    <li class="{% if app.current_route == 'app_duplicata_demande_index' %}active{% endif %}">
                        <a href="{{ path('app_duplicata_demande_index') }}">
                            <span class="nav-icon uil uil-clipboard"></span>
                            <span class="menu-text">Demandes En attente</span>
                        </a>
                    </li>

                    <li class="{% if app.current_route == 'app_duplicata_demande_validee' %}active{% endif %}">
                        <a href="{{ path('app_duplicata_demande_validee') }}">
                            <span class="nav-icon uil uil-check-circle"></span>
                            <span class="menu-text">Demandes validées</span>
                        </a>
                    </li>

                    <li class="{% if app.current_route == 'app_duplicata_demande_rejetee' %}active{% endif %}">
                        <a href="{{ path('app_duplicata_demande_rejetee') }}">
                            <span class="nav-icon uil uil-times-circle"></span>
                            <span class="menu-text">Demandes rejetées</span>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_AUTORITE') %}
                    <li class="menu-title mt-30">
                        <span>Gestion des lots</span>
                    </li>

                    <li class="{% if app.current_route == 'app_lot_index' %}active{% endif %}">
                        <a href="{{ path('app_lot_index') }}">
                            <span class="nav-icon uil uil-list-ui-alt"></span>
                            <span class="menu-text">Lots de demande</span>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_CHEF_SERVICE') %}
                    <li class="menu-title mt-30">
                        <span>Gestion des lots</span>
                    </li>

                    <li class="has-child {% if app.current_route starts with 'app_lot' %}open{% endif %}">
                        <a href="#">
                            <span class="nav-icon uil uil-archive"></span>
                            <span class="menu-text">Lot de demande</span>
                            <span class="toggle-icon"></span>
                        </a>
                        <ul>
                            <li class="{% if app.current_route == 'app_lot_new' %}active{% endif %}">
                                <a href="{{ path('app_lot_new') }}">Créer</a>
                            </li>
                            <li class="{% if app.current_route == 'app_lot_index' %}active{% endif %}">
                                <a href="{{ path('app_lot_index') }}">Liste</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-title mt-30">
                        <span>Professionnels</span>
                    </li>


                    <li class="has-child {% if app.current_route starts with 'app_user_professionnel' %}active{% endif %}">
                        <a href="#">
                            <span class="nav-icon uil uil-users-alt"></span>
                            <span class="menu-text">Professionnels</span>
                            <span class="toggle-icon"></span>
                        </a>
                        <ul>
                            <li class="{% if app.current_route == 'app_user_professionnel' %}active{% endif %}">
                                <a href="{{ path('app_user_professionnel') }}">Liste des professionnels</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_IMPRIMEUR') %}
                    <li class="{% if app.current_route == 'app_impression' %}active{% endif %}">
                        <a href="{{ path('app_impression') }}">
                            <span class="nav-icon uil uil-print"></span>
                            <span class="menu-text">Imprimer une carte</span>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="menu-title mt-30">
                        <span>Paramètres</span>
                    </li>
                    <li class="has-child {% if app.current_route starts with 'app_profession' %}open{% endif %}">
                        <a href="#">
                            <span class="nav-icon uil uil-briefcase"></span>
                            <span class="menu-text">Profession</span>
                            <span class="toggle-icon"></span>
                        </a>
                        <ul>
                            <li class="{% if app.current_route == 'app_profession_new' %}active{% endif %}">
                                <a href="{{ path('app_profession_new') }}">Ajouter</a>
                            </li>
                            <li class="{% if app.current_route == 'app_profession_index' %}active{% endif %}">
                                <a href="{{ path('app_profession_index') }}">Liste des professions</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-child {% if app.current_route starts with 'app_type_piece' %}open{% endif %}">
                        <a href="#">
                            <span class="nav-icon uil uil-folder"></span>
                            <span class="menu-text">Pièce à fournir</span>
                            <span class="toggle-icon"></span>
                        </a>
                        <ul>
                            <li class="{% if app.current_route == 'app_type_piece_new' %}active{% endif %}">
                                <a href="{{ path('app_type_piece_new') }}">Ajouter</a>
                            </li>
                            <li class="{% if app.current_route == 'app_type_piece_index' %}active{% endif %}">
                                <a href="{{ path('app_type_piece_index') }}">Liste des pièces</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-child {% if app.current_route starts with 'app_promoteur' %}open{% endif %}">
                        <a href="#">
                            <span class="nav-icon uil uil-user-check"></span>
                            <span class="menu-text">Promoteur</span>
                            <span class="toggle-icon"></span>
                        </a>
                        <ul>
                            <li class="{% if app.current_route == 'app_promoteur_new' %}active{% endif %}">
                                <a href="{{ path('app_promoteur_new') }}">Ajouter</a>
                            </li>
                            <li class="{% if app.current_route == 'app_promoteur_index' %}active{% endif %}">
                                <a href="{{ path('app_promoteur_index') }}">Liste des promoteurs</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-child {% if app.current_route starts with 'app_organe' %}open{% endif %}">
                        <a href="#">
                            <span class="nav-icon uil uil-newspaper"></span>
                            <span class="menu-text">Organe</span>
                            <span class="toggle-icon"></span>
                        </a>
                        <ul>
                            <li class="{% if app.current_route == 'app_organe_new' %}active{% endif %}">
                                <a href="{{ path('app_organe_new') }}">Ajouter</a>
                            </li>
                            <li class="{% if app.current_route == 'app_organe_index' %}active{% endif %}">
                                <a href="{{ path('app_organe_index') }}">Liste des organes</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-child {% if app.current_route starts with 'app_type_organe' %}open{% endif %}">
                        <a href="#">
                            <span class="nav-icon uil uil-building"></span>
                            <span class="menu-text">Type organe</span>
                            <span class="toggle-icon"></span>
                        </a>
                        <ul>
                            <li class="{% if app.current_route == 'app_type_organe_new' %}active{% endif %}">
                                <a href="{{ path('app_type_organe_new') }}">Ajouter</a>
                            </li>
                            <li class="{% if app.current_route == 'app_type_organe_index' %}active{% endif %}">
                                <a href="{{ path('app_type_organe_index') }}">Liste des types d'organes</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-child {% if app.current_route starts with 'app_president' %}open{% endif %}">
                        <a href="#">
                            <span class="nav-icon uil uil-user"></span> <!-- Assurez-vous que l'icône correspond à votre thème -->
                            <span class="menu-text">Président</span>
                            <span class="toggle-icon"></span>
                        </a>
                        <ul>
                            <li class="{% if app.current_route == 'app_president_new' %}active{% endif %}">
                                <a href="{{ path('app_president_new') }}">Créer</a>
                            </li>
                            <li class="{% if app.current_route == 'app_president_index' %}active{% endif %}">
                                <a href="{{ path('app_president_index') }}">Liste</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-child {% if app.current_route starts with 'app_user' %}open{% endif %}">
                        <a href="#">
                            <span class="nav-icon uil uil-user"></span>
                            <span class="menu-text">Utilisateurs</span>
                            <span class="toggle-icon"></span>
                        </a>
                        <ul>
                            <li class="{% if app.current_route == 'app_user_new' %}active{% endif %}">
                                <a href="{{ path('app_personnel_new') }}">Ajouter un utilisateur</a>
                            </li>
                            <li class="{% if app.current_route == 'app_user_index' %}active{% endif %}">
                                <a href="{{ path('app_user_index') }}">Liste des utilisateurs</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
