{% extends 'base.html.twig' %}

{% block title %}Liste des types d'organes{% endblock %}
{% block  bouton  %}

        <a class="btn btn-outline-secondary" href="{{ path('app_type_organe_new') }}">Nouvel ajout</a>

{% endblock %}

{% block body %}

    <table id="myTable" class="table table-hover datatable-init table-bordered">
        <thead class="table-light">
            <tr>
                <th>N°</th>
                <th>Libellé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_organe in type_organes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ type_organe.libelle }}</td>
                <td class="w-25">

                    <div class="dropdown mt-4 mt-sm-0">
                        <a href="#" class="btn btn-outline-light btn-sm dropdown-toggle border " data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="icon ni ni-opt-dot-alt"></i>
                        </a>

                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item link-info" href="{{ path('app_type_organe_show', {'id': type_organe.id}) }}">Voir</a>
                            <a class="dropdown-item link-success" href="{{ path('app_type_organe_edit', {'id': type_organe.id}) }}">Editer</a>
                           {{ include('type_organe/_delete_form.html.twig') }}
                        </div>
                    </div>

                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
