{% extends 'base.html.twig' %}

{% block title %} Effectuer une demande de carte {% endblock %}
{% block breadcrumb %} Demande {% endblock %}
{% block breadcrumbActive %} Nouveau {% endblock %}

{% block stylesheets %}
    <style>
        .step-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            border-bottom: 2px solid #11832b;
            padding-bottom: 0.5rem;
            color: #11832b;
        }
    </style>
{% endblock %}

{% block body %}
    <form action="{{ path('app_demande_interne') }}" class="form-validate is-later" method="post" enctype="multipart/form-data">
        <div class="container">
            <!-- Étape 1 : Informations du Professionnel et Compte -->
            <div id="step-1" class="form-step">
                <h4 class="step-title">Étape 1 : Informations du Professionnel</h4>
                <div class="row mb-3">
                    <!-- Nom -->
                    <div class="form-group col-md-6 mb-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required>
                    </div>

                    <!-- Prénom -->
                    <div class="form-group col-md-6 mb-3">
                        <label for="prenom" class="form-label">Prénom</label>
                        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <!-- Email -->
                    <div class="form-group col-md-6 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>

                    <!-- Date de Naissance -->
                    <div class="form-group col-md-6 mb-3">
                        <label for="date_naissance" class="form-label">Date de Naissance</label>
                        <input type="date" class="form-control" id="date_naissance" name="date_naissance" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <!-- Lieu de Naissance -->
                    <div class="form-group col-md-6 mb-3">
                        <label for="lieu_naissance" class="form-label">Lieu de Naissance</label>
                        <input type="text" class="form-control" id="lieu_naissance" name="lieu_naissance" placeholder="Lieu de Naissance" required>
                    </div>

                    <!-- NPI -->
                    <div class="form-group col-md-6 mb-3">
                        <label for="npi" class="form-label">NPI</label>
                        <input type="text" class="form-control" id="npi" name="npi" placeholder="NPI" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <!-- Sexe -->
                    <div class="form-group col-md-6 mb-3">
                        <label for="sexe" class="form-label">Sexe</label>
                        <select class="form-control" id="sexe" name="sexe" required>
                            <option value="">Choisir...</option>
                            <option value="Homme">Homme</option>
                            <option value="Femme">Femme</option>
                        </select>
                    </div>

                    <!-- Nationalité -->
                    <div class="form-group col-md-6 mb-3">
                        <label for="nationalite" class="form-label">Nationalité</label>
                        <select name="nationalite" id="nationalite" class="form-control js-select2" data-search="on">
                            {% for key, value in nationalites %}
                                <option value="{{ key }}" {% if key == 'Béninois(e)' %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="form-group col-md-6 mb-3">
                        <label for="organe" class="form-label">Organe</label>
                        <select name="organe" id="organe" class="form-select js-select2" data-search="on" required>
                            <option value="">Choisir...</option>
                            {% for organe in organes %}
                                <option value="{{ organe.id }}">{{ organe.designation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="profession" class="form-label">Profession</label>
                        <div class="form-control-wrap">
                            <select name="profession" id="profession" class="form-select js-select2" data-search="on" required>
                                <option value="">Choisir...</option>
                                {% for profession in professions %}
                                    <option value="{{ profession.id }}">{{ profession.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <!-- Photo -->
                    <div class="form-group col-md-6 mb-3">
                        <label for="photo" class="form-label">Photo</label>
                        <input type="file" class="form-control" id="photo" name="photo" required>
                    </div>

                    <!-- Adresse -->
                    <div class="form-group col-md-6 mb-3">
                        <label for="adresse" class="form-label">Adresse</label>
                        <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Adresse" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <!-- Mot de passe -->
                    <div class="form-group col-md-12 mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12 text-center mt-3">
                        <button type="button" class="btn btn-outline-secondary text-center btn-lg" id="next-step-1">Suivant</button>
                    </div>
                </div>
            </div>

            <!-- Étape 2 : Documents -->
            <div id="step-2" class="form-step" style="display: none;">
                <h3 class="step-title">Étape 2 : Documents</h3>
                {% for typePiece in typePieces %}
                    {% if typePiece.libelle != 'Quittance' %}
                        <div class="mb-3">
                            <label class="form-label" for="typePiece_{{ typePiece.id }}">{{ typePiece.libelle }}</label>
                            <input type="file" id="typePiece_{{ typePiece.id }}" name="typePieces[{{ typePiece.id }}]" required="required" placeholder="Drag and drop a file or click to browse" data-controller="" class="form-control">
                        </div>
                    {% endif %}
                {% endfor %}

                <h3 class="step-title">Quittance</h3>
                {% for typePiece in typePieces %}
                    {% if typePiece.libelle == 'Quittance' %}
                        <div class="mb-3">
                            <label class="form-label" for="typePiece_{{ typePiece.id }}">{{ typePiece.libelle }}</label>
                            <input type="file" class="form-control" id="typePiece_{{ typePiece.id }}" name="typePieces[{{ typePiece.id }}]" required="required">
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="row">
                    <div class="form-group col-md-12 d-flex">
                        <button type="button" class="btn btn-outline-secondary me-2" id="previous-step-2">Précédent</button>
                        <button type="submit" class="btn btn-success">Soumettre</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Sélectionner tous les formulaires d'étapes
            const step1Form = document.querySelector('#step-1');
            const step2Form = document.querySelector('#step-2');

            const nextStep1Btn = document.getElementById('next-step-1');

            // Désactiver les boutons suivants par défaut
            nextStep1Btn.disabled = true;

            // Fonction de validation pour une étape donnée
            function validateStep(stepForm) {
                const inputs = stepForm.querySelectorAll('input, select');
                let allValid = true;
                inputs.forEach(function (input) {
                    if (!input.checkValidity()) {
                        allValid = false;
                    }
                });
                return allValid;
            }

            // Surveille les changements dans les champs d'étape 1
            step1Form.addEventListener('input', function () {
                nextStep1Btn.disabled = !validateStep(step1Form);
            });

            // Étape 1
            nextStep1Btn.addEventListener('click', function () {
                if (validateStep(step1Form)) {
                    document.getElementById('step-1').style.display = 'none';
                    document.getElementById('step-2').style.display = 'block';
                }
            });

            // Étape 2
            document.getElementById('previous-step-2').addEventListener('click', function () {
                document.getElementById('step-2').style.display = 'none';
                document.getElementById('step-1').style.display = 'block';
            });
        });
    </script>
{% endblock %}
