
{% extends 'base.html.twig' %}

{% block title %}Liste des demandes{% endblock %}
{% block datatables %}{% endblock %}
{% block breadcrumb %}Demande{% endblock %}
{% block breadcrumbActive %}Liste{% endblock %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class="flash-notice mb-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Message : </strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}

    <div class="">
        <table class="table datatable-init table-bordered">
            <thead class="table-light">
            <tr>
                <th>N°</th>
                <th>Demandeur</th>
                <th>Numéro d'enregistrement</th>
                <th>Date de soumission</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for demande in demandes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ demande.professionnel.nom }} {{ demande.professionnel.prenoms }}</td>
                    <td>{{ demande.numDemande }}</td>
                    <td>{{ demande.dateSoumission ? demande.dateSoumission|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        {% if demande.statut == 'En attente' %}
                            <span class="badge badge-round badge-warning badge-lg">{{ demande.statut }}</span>
                        {% elseif demande.statut == 'Validée' %}
                            <span class="badge badge-round badge-success badge-lg">{{ demande.statut }}</span>
                        {% elseif demande.statut == 'Rejetée' %}
                            <span class="badge badge-round badge-danger badge-lg">{{ demande.statut }}</span>
                        {% else %}
                            <span class="badge badge-round badge-secondary badge-lg">{{ demande.statut }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-outline-success btn-sm" href="{{ path('app_demande_traiter', {'id': demande.id}) }}">Traiter</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
