{% extends 'base.html.twig' %}

{% block title %}Liste des demandes validées{% endblock %}
{% block datatables %}{% endblock %}
{% block breadcrumb %}Demande{% endblock %}
{% block breadcrumbActive %}Validée{% endblock %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Message : </strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}

    <div class="">
        <table id="myTable" class="table datatable-init table-bordered">
            <thead class="table-light">
            <tr>
                <th>N°</th>
                <th>Professionnel</th>
                <th>Numéro de la demande</th>
                <th>Traitée par</th>
                <th>Validée le</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for demande in demandes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ demande.professionnel.nom }} {{ demande.professionnel.prenoms }}</td>
                    <td>{{ demande.numDemande }}</td>
                    <td>
                        {{ demande.agentTraitant.prenoms }}     {{ demande.agentTraitant.nom }}

                    </td>
                    <td>{{ demande.dateTraitement ? demande.dateTraitement|date('Y-m-d à H:i:s') : '' }}</td>

                    <td>
                        <a class="btn btn-outline-success btn-sm" href="{{ path('app_demande_show', {'id': demande.id}) }}">Détails </a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
