<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rapport de Lot</title>
    <style>
        body {
            font-family: 'Nunito', Arial, sans-serif;
            line-height: 1.6;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
            justify-content: space-between;
            align-items: center;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .subtitle {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .section {
            margin-bottom: 20px;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
        }
        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            text-transform: uppercase;
        }
        .table th {
            background-color: #ffd966; /* Couleur jaune pour l'entête du tableau */
            color: black;
            font-weight: bold;
            text-align: center;
        }
        .logo-left {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .logo-right {
            float: right;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        .info {
            text-align: center;
            flex-grow: 1; /* Pour occuper l'espace restant au centre */
        }
        .info p {
            margin: 0;
        }
        .rejected {
            color: red; /* Texte en rouge pour les demandes rejetées */
        }
    </style>
</head>
<body>
<div class="header" style="border: 1px solid black; border-radius:10px;">

    <table style="width: 100%">
        <tr>
            <td style="width: 20%;">
                <img src="{{ absolute_url(asset('assets/images/logo-haac.png')) }}" height="100" alt="Logo HAAC" class="logo">

            </td>

            <td style="width: 60%">
                <h2 class="title" style="text-transform: uppercase;">POINT D'ETUDE DES DEMANDES DES CARTES DE PRESSE DE LA PERIODE
                    DU ... AU ...
                </h2>
                <p  style="text-transform:uppercase;"><strong>Date de création :</strong> {{ lot.dateCreation|date('d/m/Y à H:i') }}</p>
            </td>
            <td style="width: 20%">
                <img src="{{ absolute_url(asset('assets/images/logo-benin.png')) }}" height="100" alt="Logo Droit" class="logo">

            </td>
        </tr>
    </table>

</div>


<div class="section">
    <h3 class="subtitle" style="text-transform: uppercase; text-align: center">Demandes Associées</h3>
    <table class="table">
        <thead>
        <tr>
            <th>N°</th>
            <th>NPI</th>
            <th>Numéro Demande</th>
            <th>Professionnel</th>
            <th>Organe</th>
            <th>Profession</th>
            <th>Date soumission</th>
            <th>Statut</th>
        </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ demande.professionnel.npi }}</td>
                <td>{{ demande.numDemande }}</td>
                <td>{{ demande.professionnel.nom|upper }} {{ demande.professionnel.prenoms|upper }}</td>
                <td><b> {{ demande.historiqueOrganeActuel.organe.designation|upper }}</b> - {{ demande.historiqueOrganeActuel.organe.typeOrgane.libelle }}</td>
                <td>{{ demande.historiqueOrganeActuel.profession.libelle|upper }}</td>
                <td>{{ demande.dateSoumission|date('d/m/Y') }}</td>
                <td class="{% if demande.statut == 'Rejetée' %}Rejétée{% endif %}">{{ demande.statut|upper }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
