{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}
{% block bouton %}
    <a href="{{ path('app_demande_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
{% endblock %}

{% block body %}

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Numéro demande</th>
                <td>{{ demande.numDemande }}</td>
            </tr>
            <tr>
                <th>DateSoumission</th>
                <td>{{ demande.dateSoumission ? demande.dateSoumission|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de traitement</th>
                <td>{{ demande.dateTraitement ? demande.dateTraitement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ demande.statut }}</td>
            </tr>
        </tbody>
    </table>



{% endblock %}
