<div class="row">
    <!-- Card 1: Total Demandes -->
    <div class="col-sm-3">
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-title-group align-start mb-2">
                    <div class="card-title">
                        <h6 class="title">Total Demandes</h6>
                    </div>
                    <div class="card-tools">
                        <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Total des demandes"></em>
                    </div>
                </div>
                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                    <div class="nk-sale-data">
                        <span class="amount">{{ totalDemandes }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 2: Demandes en Cours -->
    <div class="col-sm-3">
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-title-group align-start mb-2">
                    <div class="card-title">
                        <h6 class="title">Demandes en Cours</h6>
                    </div>
                    <div class="card-tools">
                        <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Demandes en cours"></em>
                    </div>
                </div>
                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                    <div class="nk-sale-data">
                        <span class="amount">{{ demandesEnCours }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 3: Demandes Rejetées -->
    <div class="col-sm-3">
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-title-group align-start mb-2">
                    <div class="card-title">
                        <h6 class="title">Demandes Rejetées</h6>
                    </div>
                    <div class="card-tools">
                        <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Demandes rejetées"></em>
                    </div>
                </div>
                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                    <div class="nk-sale-data">
                        <span class="amount">{{ demandesRejetees }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 4: Lot de Demandes -->
    <div class="col-sm-3">
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-title-group align-start mb-2">
                    <div class="card-title">
                        <h6 class="title">Lot de Demandes</h6>
                    </div>
                    <div class="card-tools">
                        <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Lot de demandes"></em>
                    </div>
                </div>
                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                    <div class="nk-sale-data">
                        <span class="amount">{{ lotDemande }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 5: Demandes Validées -->



</div>

<div class="row mt-3">
    <div class="col-sm-3">
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-title-group align-start mb-2">
                    <div class="card-title">
                        <h6 class="title">Demandes Validées</h6>
                    </div>
                    <div class="card-tools">
                        <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Demandes validées"></em>
                    </div>
                </div>
                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                    <div class="nk-sale-data">
                        <span class="amount">{{ demandesValidees }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card 6: Cartes Imprimées -->
    <div class="col-sm-3">
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-title-group align-start mb-2">
                    <div class="card-title">
                        <h6 class="title">Cartes Imprimées</h6>
                    </div>
                    <div class="card-tools">
                        <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Cartes imprimées"></em>
                    </div>
                </div>
                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                    <div class="nk-sale-data">
                        <span class="amount">{{ totalImpressions }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 7: Impression de l'Année Courante -->
    <div class="col-sm-3">
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-title-group align-start mb-2">
                    <div class="card-title">
                        <h6 class="title">Impression de {{ date()|date('Y') }}</h6>
                    </div>
                    <div class="card-tools">
                        <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Impression de l'année courante"></em>
                    </div>
                </div>
                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                    <div class="nk-sale-data">
                        <span class="amount">{{ totalImpressionsCurrentYear }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 8: Cartes Expirées -->
    <div class="col-sm-3">
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-title-group align-start mb-2">
                    <div class="card-title">
                        <h6 class="title">Cartes Expirées</h6>
                    </div>
                    <div class="card-tools">
                        <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Cartes expirées"></em>
                    </div>
                </div>
                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                    <div class="nk-sale-data">
                        <span class="amount">{{ cartesExpirees }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card mt-4">
    <div class="card-header">
        <h3>Statistiques de l'évolution des demandes par mois selon l'année</h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="year-select">Sélectionner une année :</label>
            <select id="year-select" class="form-control border-dark">
                {% for year in years %}
                    <option value="{{ year }}" {% if year == "now"|date("Y") %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="statistics-chart" style="height: 80px;"></div>
    </div>
</div>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const yearSelect = document.getElementById('year-select');
            const chartElement = document.getElementById('statistics-chart');
            let chart;

            function fetchData(year) {
                fetch(`/statistics/data/${year}`)
                    .then(response => response.json())
                    .then(data => {
                        const labels = data.map(item => new Date(year, item.month - 1).toLocaleString('default', { month: 'long' }));
                        const counts = data.map(item => item.count);

                        if (chart) {
                            chart.destroy();
                        }

                        chart = new ApexCharts(chartElement, {
                            chart: {
                                type: 'bar',
                                height: 350
                            },
                            series: [{
                                name: `Nombre de demandes en ${year}`,
                                data: counts
                            }],
                            xaxis: {
                                categories: labels
                            },
                            yaxis: {
                                title: {
                                    text: 'Nombre de demandes'
                                },
                                min: 0
                            },
                            plotOptions: {
                                bar: {
                                    borderRadius: 4,
                                    horizontal: false
                                }
                            },
                            dataLabels: {
                                enabled: true,
                                style: {
                                    fontSize: '12px',
                                    fontFamily: 'Helvetica, Arial, sans-serif',
                                    fontWeight: 'bold',
                                    colors: ['#ffffff']
                                }
                            },
                            colors: ['#118329']
                        });

                        chart.render();
                    });
            }

            yearSelect.addEventListener('change', function() {
                const selectedYear = yearSelect.value;
                fetchData(selectedYear);
            });

            fetchData(yearSelect.value); // Fetch data for the initial year
        });
    </script>
{% endblock %}
