<div class="row">
    <!-- Card 1: Total Demandes -->
    <div class="col-sm-3 mb-3">
        <div class="card shadow-sm" style=" border-left: 4px solid #f39c12;">
            <div class="card-body">
                <h6 class="card-title text-muted">Total des Demandes</h6>
                <h2 class="card-text font-weight-bold" style="color: #f39c12;">{{ totalDemandes }}</h2>
            </div>
        </div>
    </div>

    <!-- Card 2: Demandes en Cours -->
    <div class="col-sm-3 mb-3">
        <div class="card shadow-sm" style=" border-left: 4px solid #3498db;">
            <div class="card-body">
                <h6 class="card-title text-muted">Demandes en Cours</h6>
                <h2 class="card-text font-weight-bold" style="color: #3498db;">{{ demandesEnCours }}</h2>
            </div>
        </div>
    </div>

    <!-- Card 3: Demandes Rejetées -->
    <div class="col-sm-3 mb-3">
        <div class="card shadow-sm" style="border-left: 4px solid #e74c3c;">
            <div class="card-body">
                <h6 class="card-title text-muted">Demandes Rejetées</h6>
                <h2 class="card-text font-weight-bold" style="color: #e74c3c;">{{ demandesRejetees }}</h2>
            </div>
        </div>
    </div>

    <!-- Card 4: Lot de Demandes -->
    <div class="col-sm-3 mb-3">
        <div class="card shadow-sm" style="border-left: 4px solid #8e44ad;">
            <div class="card-body">
                <h6 class="card-title text-muted">Lot de Demandes</h6>
                <h2 class="card-text font-weight-bold" style="color: #8e44ad;">{{ lotDemande }}</h2>
            </div>
        </div>
    </div>

    <!-- Card 5: Demandes Validées -->
    <div class="col-sm-3 mb-3">
        <div class="card shadow-sm" style="border-left: 4px solid #27ae60;">
            <div class="card-body">
                <h6 class="card-title text-muted">Demandes Validées</h6>
                <h2 class="card-text font-weight-bold" style="color: #27ae60;">{{ demandesValidees }}</h2>
            </div>
        </div>
    </div>

    <!-- Card 6: Cartes Imprimées -->
    <div class="col-sm-3 mb-3">
        <div class="card shadow-sm" style="border-left: 4px solid #f1c40f;">
            <div class="card-body">
                <h6 class="card-title text-muted">Cartes Imprimées</h6>
                <h2 class="card-text font-weight-bold" style="color: #f1c40f;">{{ totalImpressions }}</h2>
            </div>
        </div>
    </div>

    <!-- Card 7: Impression de l'Année Courante -->
    <div class="col-sm-3 mb-3">
        <div class="card shadow-sm" style="border-left: 4px solid #2ecc71;">
            <div class="card-body">
                <h6 class="card-title text-muted">Impression de {{ date()|date('Y') }}</h6>
                <h2 class="card-text font-weight-bold" style="color: #2ecc71;">{{ totalImpressionsCurrentYear }}</h2>
            </div>
        </div>
    </div>

    <!-- Card 8: Cartes Expirées -->
    <div class="col-sm-3 mb-3">
        <div class="card shadow-sm" style="border-left: 4px solid #c0392b;">
            <div class="card-body">
                <h6 class="card-title text-muted">Cartes Expirées</h6>
                <h2 class="card-text font-weight-bold" style="color: #c0392b;">{{ cartesExpirees }}</h2>
            </div>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        <h3>Statistiques de l'évolution des demandes par mois selon l'année</h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="year-select">Sélectionner une année :</label>
            <select id="year-select" class="form-control border-dark">
                {% for year in years %}
                    <option value="{{ year }}" {% if year == "now"|date("Y") %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="statistics-chart" style="height: 350px;"></div>
    </div>
</div>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const yearSelect = document.getElementById('year-select');
            const chartElement = document.getElementById('statistics-chart');
            let chart;

            function fetchData(year) {
                fetch(`/statistics/data/${year}`)
                    .then(response => response.json())
                    .then(data => {
                        const labels = data.map(item => new Date(year, item.month - 1).toLocaleString('default', { month: 'long' }));
                        const counts = data.map(item => item.count);

                        if (chart) {
                            chart.destroy();
                        }

                        chart = new ApexCharts(chartElement, {
                            chart: {
                                type: 'line', // Passer au graphique en ligne
                                height: 350,
                                background: '#ffffff',
                                toolbar: {
                                    show: true // Afficher la barre d'outils
                                }
                            },
                            series: [{
                                name: `Nombre de demandes en ${year}`,
                                data: counts
                            }],
                            xaxis: {
                                categories: labels,
                                title: {
                                    text: 'Mois',
                                    style: {
                                        color: '#333',
                                    },
                                },
                            },
                            yaxis: {
                                title: {
                                    text: 'Nombre de demandes',
                                    style: {
                                        color: '#333',
                                    },
                                },
                            },
                            stroke: {
                                curve: 'smooth', // Ligne lisse
                                width: 4
                            },
                            markers: {
                                size: 4,
                                colors: ['#066ead'],
                                strokeWidth: 2
                            },
                            title: {
                                text: `Statistiques de l'année ${year}`,
                                align: 'center',
                            }
                        });

                        chart.render();
                    })
                    .catch(error => console.error('Erreur lors de la récupération des données :', error));
            }

            yearSelect.addEventListener('change', function() {
                fetchData(this.value);
            });

            // Initial fetch
            fetchData(yearSelect.value);
        });
    </script>
{% endblock %}
