{% extends 'base.html.twig' %}

{% block title %}Listes des professions{% endblock %}
{% block breadcrumb %}Profession{% endblock %}
{% block breadcrumbActive %}Liste{% endblock %}
{% block bouton %}
    <a class="btn btn-outline-primary" href="{{ path('app_profession_new') }}">Nouvel ajout</a>
{% endblock %}


{% block body %}


    <table class="table table-hover table-bordered datatable-init">
        <thead>
            <tr>
                <th>N°</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profession in professions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ profession.libelle }}</td>

                <td>

                        <div class="dropdown">
                            <a class="dropdown-toggle btn btn-icon btn-light" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <ul class="link-list-opt">
                                    <li><a href="{{ path('app_profession_show', {'id': profession.id}) }}"><em class="icon ni ni-eye"></em><span>Voir</span></a></li>
                                    <li><a href="{{ path('app_profession_edit', {'id': profession.id}) }}"><em class="icon ni ni-pen"></em><span>Editer</span></a></li>
                                </ul>
                            </div>
                        </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
