{% extends 'base.html.twig' %}

{% block title %}Détail de l'organe{% endblock %}
{% block breadcrumb %}Organe {% endblock %}


{% block body %}
    <h1>Organe</h1>

    <table id="myTable" class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organe.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ organe.designation }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ organe.adresse }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ organe.contact }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ organe.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ organe.longitude }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ organe.commune }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_organe_index') }}">back to list</a>

    <a href="{{ path('app_organe_edit', {'id': organe.id}) }}">edit</a>

    {{ include('organe/_delete_form.html.twig') }}
{% endblock %}
