<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Carte De Presse | {{ carte.professionnel.nom }} {{ carte.professionnel.prenoms }} - {{ carte.numDemande }}</title>
    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}">

    <style>
        @page {
            margin: 0;
            padding: 0;
            width: 85.60mm;
            height: 53.98mm;
        }

        body {
            font-family: 'Montserrat', sans-serif;
            background-image: url("{{ absolute_url(asset('assets/motif.png')) }}");
            background-size: cover;
            background-position: left top;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }

        .container {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            position: relative;
        }

        img {
            max-width: 100%;
            height: auto;
        }
        .page {
            page-break-after: always;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page">
        <table style="width: 100%; border-collapse: collapse; margin: 0; padding:3px;">
            <tr>
                <td style="text-align: center; vertical-align: middle; width: 15%; padding: 0;">
                    <img src="{{ absolute_url(asset('assets/images/logo-haac.png')) }}" alt="Logo HAAC" width="50">
                    <div style="font-size: 7px; padding: 0; color:green;">{{ profession.profession.libelle }}</div>
                </td>
                <td style="text-align: center; vertical-align: middle; width: 65%; line-height: 1; padding: 0;">
                    <div style="font-size: 11px; font-weight: bold; padding-right: 10px;">REPUBLIQUE DU BENIN</div>
                    <div style="font-size: 9px; padding: 0;">HAUTE AUTORITE DE L'AUDIOVISUEL ET DE LA COMMUNICATION</div>
                    <div style="color: red; font-size: 11px; font-weight: bold; padding: 0;">CARTE DE PRESSE</div>
                </td>
                <td style="text-align: center; vertical-align: middle; width: 20%; padding: 0;">
                    <img src="{{ absolute_url(asset('assets/images/logo-benin.png')) }}" alt="Logo Bénin" width="60">
                    <div style="font-size: 7px; padding: 0; color:green;">{{ profession.organe.designation }}</div>
                </td>
            </tr>
            <tr style="padding-bottom: -30px;">
                <td colspan="3" style="text-align: start; padding-top: 4px; ">
                    <div style="height:5px; padding-bottom: 2px;">
                        <img src="{{ absolute_url(asset('assets/logo-horizontal.png')) }}" alt="" style="max-width: 100%; margin: 0; padding: 0;">
                    </div>

                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: middle; width: 30%; padding: 0;">
                    <img src="{{ carte.professionnel.photo ? absolute_url(asset('uploads/' ~ carte.professionnel.photo)) : '' }}" alt="Photo du professionnel" style="padding: 0; width: 800px; margin: 0;">
                    <div style="font-weight: bold; font-size: 10px; padding: 0;">{{ carte.numDemande }}</div>
                </td>
                <td style="text-align: left; vertical-align: middle; width: 70%; font-size: 10px; line-height: 1.1; padding-left: 4px;" colspan="2">
                    <table style="width: 100%; margin: 0; padding: 0; border-collapse: collapse;">
                        <tr>
                            <td style="padding: 0;">
                                <div><strong>NPI / NPIR :</strong> {{ carte.professionnel.npi }}</div>
                                <div><strong>Nom :</strong> {{ carte.professionnel.nom }}</div>
                                <div><strong>Prénoms :</strong> {{ carte.professionnel.prenoms }}</div>
                                <div><strong>Sexe :</strong> {{ carte.professionnel.sexe }}</div>
                                <div><strong>Né(e) le :</strong> {{ carte.professionnel.dateNaissance|date('d/m/Y') }} à {{ carte.professionnel.lieuNaissance }}</div>
                                <div><strong>Nationalité :</strong> {{ carte.professionnel.nationalite }}</div>
                                <div style="margin-bottom: 3px;"><strong>Adresse :</strong> {{ carte.professionnel.adresse ? carte.professionnel.adresse : "Cotonou" }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; vertical-align: middle; width: 70%; background-color: green; color: white; font-weight: bold; border-radius: 5px 0 0 5px; padding-top: 3px; padding-bottom: 3px; font-size: 12px;" colspan="2">
                                LAISSEZ PASSER
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>

    <table style="width: 100%;">
    <tr style="line-height:0.9;">
        <td style="text-align: center; vertical-align: middle; width: 20%;">
            <img src="{{ absolute_url(asset('assets/images/logo-haac.png')) }}" alt="Logo HAAC" width="50">

        </td>
        <td style="text-align: center; vertical-align: middle; width: 60%;">

        </td>
        <td style="text-align: center; vertical-align: middle; width: 20%;">
            <img src="{{ absolute_url(asset('assets/images/logo-benin.png')) }}" alt="Logo Bénin" width="50">
        </td>
    </tr>

    <tr>
        <td colspan="3" style="text-align: justify; vertical-align: middle; font-size: 10px; line-height: 1; " >
            Le titulaire de cette carte est un professionnel des médias. Les Autorités béninoises et celles des pays
            hôtes sont priées de faciliter au porteur de la présente carte l'exercice de sa profession.
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px; line-height: 0.9; text-align: center; vertical-align: middle; width: 35%;" >

                <strong>Le Président</strong><br>
                <img src="{{ absolute_url(asset('uploads/' ~ president.signature)) }}" alt="Signature Président" width="150">
                <div><strong>{{ president.nom }} {{ president.prenoms }}</strong></div>
        </td>
        <td style="font-size: 10px; line-height: 0.9; text-align: center; width: 30%" >
            <img src="{{ absolute_url(asset('uploads/' ~ president.cachet)) }}" alt="Cachet HAAC" width="80">
        </td>
        <td style="font-size: 10px; line-height: 0.9; text-align: center; width: 30%" >
            <img src="{{ qrCode }}" alt="QR Code" width="100">
        </td>
    </tr>
</table>
</div>
</body>
</html>
