{% extends 'base.html.twig' %}

{% block title %}President index{% endblock %}
{% block datatables %}{% endblock %}

{% block body %}
      <table class="table datatable-init">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Prénoms</th>
                <th>Adresse</th>
                <th>Date de Prise de Fonction</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for president in presidents %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ president.nom }}</td>
                <td>{{ president.prenoms }}</td>
                <td>{{ president.adresse }}</td>
                <td>{{ president.datePriseFonction|date('D, d M Y H:i:s') }}</td>
                <td>
                    <a href="{{ path('app_president_show', {'id': president.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('app_president_edit', {'id': president.id}) }}" class="btn btn-secondary">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
