{% extends 'base.html.twig' %}

{% block title %}Président{% endblock %}
{% block bouton %}
    <a href="{{ path('app_president_index') }}" class="btn btn-outline-primary"><em class="icon ni ni-arrow-left"></em><span>Retour à la liste</span></a>
{% endblock %}

{% block body %}


    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ president.nom }}</td>
            </tr>
            <tr>
                <th>Prénoms</th>
                <td>{{ president.prenoms }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ president.adresse }}</td>
            </tr>
            <tr>
                <th>Signature</th>

                <td>

                    <img width="100px" src="{{ asset('uploads/') }}{{ president.signature }}" alt="">

                </td>
            </tr>
            <tr>
                <th>Cachet</th>
                <td>
                    <img width="100px" src="{{ asset('uploads/') }}{{ president.cachet }}" alt="">

                
                </td>
            </tr>
            <tr>
                <th>Date de Prise de Fonction</th>
                <td>{{ president.datePriseFonction|date() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_president_edit', {'id': president.id}) }}" class="btn btn-primary">Editer</a>

{% endblock %}
