
<!doctype html>
<html lang="fr" dir="ltr">


<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock%} | Système Automatique de Gestion des Cartes de Presse</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Système Automatique de Gestion des Cartes de Presse" />
    <meta name="keywords" content="Carte de presse, Demande, HAAC" />
    <meta name="author" content="HAAC" />
    <meta name="email" content="contact@haac.bj" />
    <meta name="website" content="https://haac.bj/" />

    <link rel="shortcut icon" href="{{ asset('assets/images/logo-haac_2.png') }}">

    <!-- Css -->
    <link href="{{ asset('assets-landing/libs/tobii/css/tobii.min.css') }}" rel="stylesheet">


    <link href="{{ asset('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Css -->
    <!-- Bootstrap Css -->
    <link href="{{ asset('assets-landing/css/bootstrap-green.min.css') }}" id="bootstrap-style" class="theme-opt" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{{ asset('assets-landing/libs/@mdi/font/css/materialdesignicons.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets-landing/libs/@iconscout/unicons/css/line.css') }}" type="text/css" rel="stylesheet">
    <!-- Style Css-->
    <link href="{{ asset('assets-landing/css/style-green.css') }}" id="color-opt" class="theme-opt" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ asset('assets/datatables/datatables.min.css') }}"/>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <style>
        .sub-menu-item{
            font-family: "Montserrat", sans-serif; !important;
        }

        #topnav {
            background: linear-gradient(to right, #0E406E, #0E6258) !important;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre subtile */
            padding-top:10px !important;
        }
        .breadcrumb-item.active {
            color: #0E6258 !important; /* ou #0E406E selon la priorité */

        }

        #topnav .navigation-menu > li > a,
        #topnav .buy-button .btn {
            color: #fff !important;
        }

        #topnav .navigation-menu > li:hover > a,
        #topnav .navigation-menu > li.active > a {
            color: #FFD700 !important; /* or une couleur d'accent si tu préfères */
        }

        #topnav .buy-button .btn-outline-success {
            border-color: #fff !important;
            color: #fff !important;
        }

        #topnav .buy-button .btn-outline-success:hover {
            background-color: #fff !important;
            color: #0E406E !important;
        }
        .btn-primary {
            background: linear-gradient(to right, #0E406E, #0E6258);
            border: none;
            color: #fff;
            font-weight: 600;
            transition: all 0.3s ease;
        }

        .btn-primary:hover,
        .btn-primary:focus {
            background: linear-gradient(to right, #0E6258, #0E406E); /* inversion au hover */
            color: #fff;
            box-shadow: 0 4px 12px rgba(14, 64, 110, 0.3);
        }
        .text-primary {
            color: #0E406E !important; /* ou #0E6258 selon ta priorité visuelle */
        }

    </style>
</head>

<body class="d-flex flex-column min-vh-100">

<!-- Loader -->
<!-- <div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div> -->
<!-- Loader -->


<!-- Navbar Start -->
<header id="topnav" class="defaultscroll sticky navbar-white-bg">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="{{ path('app_accueil') }}">
            <img src="{{ asset('assets/images/logo-haac_2.png') }}" height="50" class="logo-light-mode" alt="">
            <img src="{{ asset('assets/images/logo-haac_2.png') }}" height="24" class="logo-dark-mode" alt="">
        </a>
        <!-- Logo End -->

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <!--Login button Start-->
        <ul class="buy-button list-inline mb-0">

            <li class="list-inline-item ps-1 mb-0">
                {% if app.user %}
                    <a href="{{ path('app_espace') }}" >
                        <div class="btn btn-outline-primary">Mon compte</div>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" >
                        <div class="btn btn-outline-primary">Connexion</div>
                    </a>
                {% endif %}

            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a href="{{ path('app_accueil') }}" class="sub-menu-item">Accueil</a></li>
                <li><a href="{{ path('app_demande_suivi') }}" class="sub-menu-item">Suivre une demande</a></li>
                <li><a href="{{ path('carte_presse_conditions') }}" class="sub-menu-item">Conditions d'attribution</a></li>
                <li><a href="https://www.haac.bj/contact" class="sub-menu-item">Nous contacter</a></li>

            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->
{%  block body %}

{%  endblock %}



{# templates/partials/_footer.html.twig #}
<footer class="footer bg-light mt-auto">
    <div class="footer-py-30 footer-bar">
        <div class="container text-center">
            <div class="row align-items-center fw-bold">
                <div class="col-sm-6 text-sm-start">
                    <p class="mb-0 ">© HAAC {{ date()|date('Y') }}.</p>
                </div>

                <div class="col-sm-6 text-sm-end mt-3 mt-sm-0">
                    <span>Tous droits réservés <a href="http://haac.bj" target="_blank" class="text-reset fw-bold">HAAC</a>.</span>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- Back to top -->
<a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
<!-- Back to top -->

<!-- javascript -->
<!-- JAVASCRIPT -->


<!-- JAVASCRIPT -->
<script src="{{ asset('assets-landing/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Lightbox -->
<script src="{{ asset('assets-landing/libs/tobii/js/tobii.min.js') }}"></script>
<!-- Main Js -->
<script src="{{ asset('assets-landing/libs/feather-icons/feather.min.js') }}"></script>
<script src="{{ asset('assets-landing/js/plugins.init.js') }}"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
<script src="{{ asset('assets-landing/js/app.js') }}"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
<!-- JAVASCRIPT -->

<script>
    let verifierDemandeUrl = "{{ path('app_verifier_demande') }}"; // Récupérer l'URL ici
</script>

</body>
</html>