{% extends 'base.html.twig' %}

{% block title %}Listes des comptes utilisateurs{% endblock %}
{% block datatables %}{% endblock %}
{% block breadcrumb %}Utilisateurs{% endblock %}
{% block breadcrumbActive %}Liste{% endblock %}

{% block body %}

    <div class="m-3 text-end">
        <a href="{{ path('app_personnel_new') }}" class="btn btn-success">Ajouter un utilisateur</a>
    </div>
    <div class="">
        <table id="myTable" class="table datatable-init table-hover table-bordered" >
            <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Prénoms</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenoms }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('app_user_professionnel_show', {'id': user.id}) }}">Détails</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
