{% extends 'base.html.twig' %}

{% block title %}Détail du professionnel{% endblock %}
{% block bouton %}
<a href="{{ path('app_user_professionnel') }}" class="btn btn-outline-primary">Retour à la liste</a>
{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
        <tr>
            <th>Photo</th>
            <td>
                <img src="{{ absolute_url(asset(user.photo)) }}" alt="">
            </td>
        </tr>
        
        <tr>
            <th>Nom</th>
            <td>{{ user.nom }}</td>
        </tr>
        <tr>
            <th>Prénoms</th>
            <td>{{ user.prenoms }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ user.statut ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Adresse Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>DateNaissance</th>
            <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>LieuNaissance</th>
            <td>{{ user.lieuNaissance }}</td>
        </tr>
        <tr>
            <th>Npi</th>
            <td>{{ user.npi }}</td>
        </tr>
        <tr>
            <th>Sexe</th>
            <td>{{ user.sexe }}</td>
        </tr>
        <tr>
            <th>Nationalite</th>
            <td>{{ user.nationalite }}</td>
        </tr>
      
        </tbody>
    </table>



    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier les informations </a>


{% endblock %}
